<!DOCTYPE html>
<html>
    <head>
        <title>Date</title>
    </head>
    <body>
        <h1>Today</h1>
        <% d = Date.today %>
        <% dayname = d.strftime('%A')%>
        <% daynumber = d.strftime('%d')%>
        <% month = d.strftime('%B')%>
        <% year = d.strftime('%Y')%>
        <p><%= "The date is " + dayname+", "</p>
    </body>
</html>